pkgbase = appstream
	pkgdesc = Provides a standard for creating app stores across distributions
	pkgver = 1.2.0
	pkgrel = 1
	url = https://distributions.freedesktop.org/wiki/AppStream
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = itstool
	makedepends = meson
	makedepends = qt6-tools
	makedepends = vala
	makedepends = xmlto
	depends = cairo
	depends = curl
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = libblake3
	depends = libfyaml
	depends = libgcc
	depends = libstemmer
	depends = libvips
	depends = libxml2
	depends = libxmlb
	depends = pango
	depends = systemd-libs
	depends = zstd
	source = git+https://github.com/ximion/appstream#tag=v1.2.0?signed
	source = update-appstream-cache.hook
	validpgpkeys = D33A3F0CA16B0ACC51A60738494C8A5FBF4DECEB
	sha256sums = 8699c33219c1cb4aa82c57cd9777f9a34cdd14ac6558c93a3553420c725f4a24
	sha256sums = edc632e4a76ebe5efc76a56fe5f797e5c981cca6f2f0111c7ce0170d1330c788

pkgname = appstream

pkgname = appstream-qt
	pkgdesc = Qt6 interface for AppStream
	depends = appstream
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
