pkgbase = libwacom
	pkgdesc = Library to identify Wacom tablets and their features
	pkgver = 2.20.0
	pkgrel = 1
	url = https://github.com/linuxwacom/libwacom/wiki
	arch = x86_64
	license = MIT
	makedepends = libxml2
	makedepends = meson
	makedepends = python-pytest
	makedepends = python-libevdev
	makedepends = python-pyudev
	depends = glib2
	depends = libevdev
	depends = libgudev
	depends = glibc
	depends = libgcc
	optdepends = python-libevdev: for libwacom-show-stylus
	optdepends = python-pyudev: for libwacom-show-stylus
	source = https://github.com/linuxwacom/libwacom/releases/download/libwacom-2.20.0/libwacom-2.20.0.tar.xz
	source = https://github.com/linuxwacom/libwacom/releases/download/libwacom-2.20.0/libwacom-2.20.0.tar.xz.sig
	validpgpkeys = 3C2C43D9447D5938EF4551EBE23B7E70B467F0BF
	sha256sums = 370b45b5e05a91960df0aeb9c9481ae05846aab92ab2d4ec66945a0da4216888
	sha256sums = SKIP

pkgname = libwacom
