pkgbase = gnome-remote-desktop
	pkgdesc = GNOME Remote Desktop server
	pkgver = 50.2
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-remote-desktop
	arch = x86_64
	groups = gnome
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = ffnvcodec-headers
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = vulkan-headers
	depends = cairo
	depends = dconf
	depends = freerdp
	depends = fuse3
	depends = glib2
	depends = glibc
	depends = krb5
	depends = libdrm
	depends = libei
	depends = libepoxy
	depends = libfdk-aac
	depends = libgcc
	depends = libnotify
	depends = libpipewire
	depends = libsecret
	depends = libva
	depends = libvncserver
	depends = libxkbcommon
	depends = opus
	depends = pipewire
	depends = polkit
	depends = systemd
	depends = systemd-libs
	depends = tpm2-tss
	depends = vulkan-icd-loader
	source = git+https://gitlab.gnome.org/GNOME/gnome-remote-desktop.git?signed#tag=50.2
	validpgpkeys = 8307C0A224BABDA1BABD0EB9A6EEEC9E0136164A
	validpgpkeys = E60DADB5546D3F01AF35B87289F540EAB24513E2
	b2sums = 5e649f0160c9d0ff03b56c18210209c2e0f35bab2007c56732de56db5b107a2be22f2beed813f800389f750a3b11f0da33a79bc0527bfdb5e55cb867e5b50653

pkgname = gnome-remote-desktop
