pkgbase = xdg-user-dirs-gtk
	pkgdesc = Creates user dirs and asks to relocalize them
	pkgver = 0.16
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/xdg-user-dirs-gtk
	arch = x86_64
	groups = gnome
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = meson
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = xdg-user-dirs
	source = git+https://gitlab.gnome.org/GNOME/xdg-user-dirs-gtk.git#tag=0.16
	source = 0001-desktop-Show-in-more-environments.patch
	b2sums = 52743f84dcd9262f3e3f2ef6e29c8cf8d05a5dd073b6b2f1e23eedc04654575ec92baa6e6bf17578b8290983b4acf30005ed611b466667bff720184be9cba0db
	b2sums = 293a1fb712d15844c6f3cc09cbb7221337363d93591d3e0913823dfc46b40bf7c771e0cf249ac2cdb84118ebb3d1a8cc7552ff95a35ad212be0cc53ba004ecc2

pkgname = xdg-user-dirs-gtk
