pkgbase = libxmlb
	pkgdesc = Library to help create and query binary XML blobs
	pkgver = 0.3.29
	pkgrel = 1
	url = https://github.com/hughsie/libxmlb
	arch = x86_64
	license = LGPL-2.1-only
	checkdepends = shared-mime-info
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstemmer
	depends = xz
	depends = zstd
	source = git+https://github.com/hughsie/libxmlb#tag=0.3.29?signed
	validpgpkeys = 163EB50119225DB3DF8F49EA17ACBA8DFA970E17
	sha256sums = 5d40444befbcc3c938bed35413eb9a76c5446ee38887a76a2cf25b3ac935b684

pkgname = libxmlb
