pkgbase = showtime
	pkgdesc = Video player for GNOME
	pkgver = 50.0
	pkgrel = 1
	url = https://apps.gnome.org/Showtime/
	arch = any
	groups = gnome
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = blueprint-compiler
	makedepends = git
	makedepends = meson
	depends = dconf
	depends = glib2
	depends = graphene
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gst-plugins-good
	depends = gst-plugin-gtk4
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = python
	depends = python-gobject
	optdepends = gst-libav: Extra media codecs
	optdepends = gst-plugins-bad: Extra media codecs
	optdepends = gst-plugins-ugly: Extra media codecs
	source = git+https://gitlab.gnome.org/GNOME/showtime.git#tag=50.0
	validpgpkeys = E7F8575DF41BB394502E2AB50EDDDE9A9B3384C3
	b2sums = c3b3b3c8b3efcc3f9e1152b21f7097ee66064794e6308f8f771978a5467e4520aa849ddcde9448d5a5c49948a59c8486089ba9ef8006d1b47ab375686b0dafeb

pkgname = showtime
