pkgbase = egl-wayland
	pkgdesc = EGLStream-based Wayland external platform
	pkgver = 1.1.22
	pkgrel = 1
	epoch = 4
	url = https://github.com/NVIDIA/egl-wayland
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = libglvnd>=1.3.4
	makedepends = meson
	makedepends = wayland-protocols
	depends = eglexternalplatform
	depends = glibc
	depends = libdrm
	depends = wayland
	provides = libnvidia-egl-wayland.so
	source = git+https://github.com/NVIDIA/egl-wayland#tag=1.1.22
	b2sums = 5f3d817eada0da9f8a730c2a6018851ebe4fb9a75aec8fc9e6d14df12570788583a82741f569443146950be2fb982d9e2d8424092dd4235be096460eaadf6260

pkgname = egl-wayland
