pkgbase = python-flit-core
	pkgdesc = A PEP 517 build backend for packages using Flit
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/pypa/flit/tree/main/flit_core
	arch = any
	groups = python-build-backend
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-testpath
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = flit-4.1.0.tar.gz::https://github.com/pypa/flit/archive/refs/tags/4.1.0.tar.gz
	sha512sums = e31f86cb595f6749867da1173f56b9c2563fcb9c3c38cdbc637a511992e7b462f7627571aad3ef1da5cc6c6574448dc69cfeb9a37d3ed7a6ce5537e90dcb5fb9
	b2sums = c2c049a1a077c6a33e641153684f0ef22d1393094c160f93c77a6c25edc6324f37877814ab6f03904b2bcce837d85610b5183ae9ae69c0836310be4d430ccad9

pkgname = python-flit-core
