pkgbase = talloc
	pkgdesc = Hierarchical pool based memory allocator with destructors
	pkgver = 2.5.0
	pkgrel = 2
	url = https://talloc.samba.org/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = python
	makedepends = docbook-xsl
	depends = glibc
	depends = libbsd
	depends = libxcrypt
	optdepends = python: for python bindings
	source = https://www.samba.org/ftp/talloc/talloc-2.5.0.tar.gz
	source = https://www.samba.org/ftp/talloc/talloc-2.5.0.tar.asc
	validpgpkeys = 9147A339719518EE9011BCB54793916113084025
	sha512sums = 4503e753ddc3bc4c4279a8a1c6a3c623a228bc1991b35f4d25658602dd9688fc6297d0d535ffd193dcb04a83ce9ac8dc35a8accd35fac329b139f59ceba6891f
	sha512sums = SKIP

pkgname = talloc
