pkgbase = libnfs
	pkgdesc = client library for accessing NFS shares
	pkgver = 7.0.2
	pkgrel = 2
	url = https://github.com/sahlberg/libnfs
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = ninja
	depends = gnutls
	depends = krb5
	options = debug
	source = https://github.com/sahlberg/libnfs/archive/libnfs-7.0.2.tar.gz
	sha512sums = 722d7a65090153a9892749fc7b9513d86a75534f7ea49ad4ce18c3360c3740b0c7255e4510fd956215eb25f807fbdc668c1af0262a4cc87de678561198448f8b

pkgname = libnfs
