pkgbase = enchant
	pkgdesc = A wrapper library for generic spell checking
	pkgver = 2.8.21
	pkgrel = 1
	url = https://rrthomas.github.io/enchant/
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = unittestpp
	makedepends = aspell
	makedepends = git
	makedepends = hspell
	makedepends = hunspell
	makedepends = libvoikko
	makedepends = nuspell
	makedepends = vala
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	optdepends = aspell: for aspell based spell checking support
	optdepends = hspell: for hspell based spell checking support
	optdepends = hunspell: for hunspell based spell checking support
	optdepends = libvoikko: for libvoikko based spell checking support
	optdepends = nuspell: for nuspell based spell checking support
	provides = libenchant-2.so
	source = git+https://github.com/rrthomas/enchant#tag=v2.8.21
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	source = git+https://github.com/gnulib-modules/bootstrap.git
	b2sums = fcf34a1949631d43fa122b164eb39d9a042815fe41e9fe0e60e150751b1bc0efc1596d5220c2abe76658d4ce2c6263d265f39606c7e7ede518b2963657586659
	b2sums = SKIP
	b2sums = SKIP

pkgname = enchant
