pkgbase = libmediaart
	pkgdesc = Library tasked with managing, extracting and handling media art caches
	pkgver = 1.9.7
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/libmediaart
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = imagemagick
	makedepends = meson
	makedepends = vala
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	source = git+https://gitlab.gnome.org/GNOME/libmediaart.git#tag=1.9.7
	b2sums = f76aef2fa23d091ca6a07908d8bb61a38d04f6d7f9bb02f9d23413e03396f9f834d827b2638eac8974304fdcfe89aa64c69c63c906b74270c4b3b1b76a413853

pkgname = libmediaart
