pkgbase = typescript
	pkgdesc = JavaScript with syntax for types
	pkgver = 6.0.3
	pkgrel = 1
	url = http://www.typescriptlang.org
	arch = any
	license = Apache-2.0
	makedepends = git
	makedepends = npm
	makedepends = rsync
	depends = nodejs
	source = git+https://github.com/microsoft/TypeScript.git#tag=v6.0.3
	b2sums = 88d24a857f85e695e32b5d4b1bdff74cdbe6f3e46c12c00cebdf927412d9446e2592b34b9d05bd089c89ab9a0d4fd76ec77845be1b69b78fadc32dedffd06e74

pkgname = typescript
