pkgbase = usbguard
	pkgdesc = Software framework for implementing USB device authorization policies
	pkgver = 1.1.4
	pkgrel = 11
	url = https://github.com/USBGuard/usbguard
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = catch2
	makedepends = glib2-devel
	makedepends = libxml2
	makedepends = libxslt
	makedepends = pegtl
	makedepends = systemd
	depends = abseil-cpp
	depends = audit
	depends = libaudit.so
	depends = glibc
	depends = libcap-ng
	depends = libcap-ng.so
	depends = libgcc
	depends = libgio-2.0.so
	depends = libglib-2.0.so
	depends = libqb
	depends = libqb.so
	depends = libseccomp
	depends = libseccomp.so
	depends = libsodium
	depends = libstdc++
	depends = polkit
	depends = protobuf
	depends = libprotobuf.so
	provides = libusbguard.so
	backup = etc/usbguard/usbguard-daemon.conf
	backup = etc/usbguard/rules.conf
	source = https://github.com/USBGuard/usbguard/releases/download/usbguard-1.1.4/usbguard-1.1.4.tar.gz
	source = https://github.com/USBGuard/usbguard/releases/download/usbguard-1.1.4/usbguard-1.1.4.tar.gz.asc
	validpgpkeys = DE78B93EAED8A620F5AA14DF52F7E84653274B59
	validpgpkeys = 42363D1C30A574A4EE5D9C87E650CBBFEF3AAC4B
	b2sums = 563aa06b332609388d2b3292672409761485eddfa5210231346d794425e061bcd9ab4738fcb2dc5ed128cfe43e9fdd9ae4e4b64c699e820e9f421f0f371d7c54
	b2sums = SKIP

pkgname = usbguard
