pkgbase = localsearch
	pkgdesc = Filesystem indexer and metadata extractor
	pkgver = 3.11.2
	pkgrel = 1
	url = https://gnome.pages.gitlab.gnome.org/localsearch/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = bash
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python
	makedepends = python-dbusmock
	makedepends = python-gobject
	depends = dconf
	depends = exempi
	depends = ffmpeg
	depends = gexiv2
	depends = giflib
	depends = glib2
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gupnp-dlna
	depends = icu
	depends = libcue
	depends = libexif
	depends = libgcc
	depends = libgsf
	depends = libgudev
	depends = libgxps
	depends = libiptcdata
	depends = libjpeg-turbo
	depends = libosinfo
	depends = libpng
	depends = libseccomp
	depends = libtiff
	depends = libwebp
	depends = libxml2
	depends = libzip
	depends = poppler-glib
	depends = tinysparql
	depends = totem-plparser
	depends = upower
	source = git+https://gitlab.gnome.org/GNOME/localsearch.git#tag=3.11.2
	b2sums = d23b268453d000d66fbdd66fd1a69197ccf4fa2f3d9c455abf5808c5b797ee6bda1cc9f74f3401d26964643cc5b043b1e5a2ce8e6fcceb9f085e66927363e4bf

pkgname = localsearch
	depends = dconf
	depends = exempi
	depends = ffmpeg
	depends = gexiv2
	depends = giflib
	depends = glib2
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gupnp-dlna
	depends = icu
	depends = libcue
	depends = libexif
	depends = libgcc
	depends = libgsf
	depends = libgudev
	depends = libgxps
	depends = libiptcdata
	depends = libjpeg-turbo
	depends = libosinfo
	depends = libpng
	depends = libseccomp
	depends = libtiff
	depends = libwebp
	depends = libxml2
	depends = libzip
	depends = poppler-glib
	depends = tinysparql
	depends = totem-plparser
	depends = upower
	depends = libtinysparql-3.0.so
	provides = tracker3-miners=3.11.2
	conflicts = tracker3-miners<=3.7.3-2
	replaces = tracker3-miners<=3.7.3-2

pkgname = localsearch-testutils
	pkgdesc = Filesystem indexer and metadata extractor (test utilities)
	depends = bash
	depends = glib2
	depends = python
	depends = python-gobject
	depends = tinysparql
