pkgbase = libglvnd
	pkgdesc = The GL Vendor-Neutral Dispatch library
	pkgver = 1.7.0
	pkgrel = 3
	url = https://gitlab.freedesktop.org/glvnd/libglvnd
	arch = x86_64
	license = custom:BSD-like
	makedepends = libxext
	makedepends = libx11
	makedepends = xorgproto
	makedepends = python
	makedepends = meson
	provides = libgl
	provides = libegl
	provides = libgles
	provides = libEGL.so
	provides = libGL.so
	provides = libGLESv2.so
	provides = libGLX.so
	provides = libGLdispatch.so
	provides = libOpenGL.so
	source = https://gitlab.freedesktop.org/glvnd/libglvnd/-/archive/v1.7.0/libglvnd-v1.7.0.tar.gz
	source = license-from-upstream
	sha512sums = 7b6eb8e075b48f1d915b892044adc3260547d74ed61d1e2fa6c5f0f8c3527754abea314181e088626d4fd58bb221085e5288c4758d828e171c7dcb0e4991745c
	sha512sums = bf0f4a7e04220a407400f89226ecc1f798cc43035f2538cc8860e5088e1f84140baf0d4b0b28f66e4b802d4d6925769a1297c24e1ba39c1c093902b2931781a5

pkgname = libglvnd
	depends = libxext
	depends = mesa
	depends = opengl-driver
