pkgbase = ostree
	pkgdesc = Operating system and container binary deployment and upgrades
	pkgver = 2026.4
	pkgrel = 1
	url = https://ostreedev.github.io/ostree/
	arch = x86_64
	license = LGPL-2.0-or-later
	checkdepends = cpio
	checkdepends = elfutils
	checkdepends = fsverity-utils
	checkdepends = gjs
	checkdepends = jq
	checkdepends = parallel
	checkdepends = python-yaml
	checkdepends = syslinux
	makedepends = avahi
	makedepends = curl
	makedepends = e2fsprogs
	makedepends = git
	makedepends = glib2
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gpgme
	makedepends = gtk-doc
	makedepends = libarchive
	makedepends = libsoup3
	makedepends = libxslt
	makedepends = mkinitcpio
	makedepends = openssl
	makedepends = python
	makedepends = systemd
	makedepends = xz
	depends = bash
	depends = composefs
	depends = fuse3
	depends = glibc
	depends = libgcc
	depends = libgpg-error
	depends = libsodium
	depends = sh
	depends = util-linux
	depends = which
	depends = zlib
	provides = libostree-1.so
	source = git+https://github.com/ostreedev/ostree#tag=v2026.4
	source = git+https://github.com/mendsley/bsdiff
	source = git+https://gitlab.gnome.org/GNOME/libglnx.git
	source = ostree-2023.1-use_fuse3.patch
	b2sums = dbdb6134ad17f2cf2d44a2058c36e38a2b487d4db880017db204b6672699c2100f9ab6b105698e1b56c719473805f9c33a41e91b0853a60b6100b949289cb04c
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 94f49d08e18500752a573c2e57339a1bcdc969e821d93fbdf07b7dda4e7f246709fcb7e1456b5f875706be5d073dad32a35282c0abcc686b1ea0cd9af678c483

pkgname = ostree
	depends = bash
	depends = composefs
	depends = fuse3
	depends = glibc
	depends = libgcc
	depends = libgpg-error
	depends = libsodium
	depends = sh
	depends = util-linux
	depends = which
	depends = zlib
	depends = avahi
	depends = libavahi-client.so
	depends = libavahi-common.so
	depends = libavahi-glib.so
	depends = curl
	depends = libcurl.so
	depends = glib2
	depends = libgio-2.0.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = gpgme
	depends = libgpgme.so
	depends = libarchive
	depends = libarchive.so
	depends = openssl
	depends = libcrypto.so
	depends = systemd-libs
	depends = libsystemd.so
	depends = xz
	depends = liblzma.so
