pkgbase = exiv2
	pkgdesc = Exif, Iptc and XMP metadata manipulation library and tools
	pkgver = 0.28.9
	pkgrel = 1
	url = https://exiv2.org
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = python
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	makedepends = ninja
	depends = brotli
	depends = libbrotlidec.so
	depends = curl
	depends = expat
	depends = libexpat.so
	depends = gettext
	depends = glibc
	depends = libcurl.so
	depends = libgcc
	depends = libinih
	depends = libINIReader.so
	depends = libstdc++
	depends = zlib
	depends = libz.so
	provides = libexiv2.so
	source = git+https://github.com/Exiv2/exiv2#tag=v0.28.9
	sha512sums = 2e7a421382f62c70870bcf675f705dd910529aadbdbcbe406b6497135744000aab4374a78f9ac271d2bd1d8be03fce905c578ed7e37dfc0cdf3a3be8d35e57b6
	b2sums = 419175977f3f6ad397f415a517bbfd0de877fb85b48f6ca9ad1a812759f9d567d55a7c843cf14837b94d58ab98f841ab33706c7f2a17a3724ce76888ca322e7a

pkgname = exiv2
