pkgbase = sdl3
	pkgdesc = A library for portable low-level access to a video framebuffer, audio output, mouse, and keyboard (Version 3)
	pkgver = 3.4.16
	pkgrel = 1
	url = https://www.libsdl.org
	arch = x86_64
	license = Zlib
	makedepends = cmake
	makedepends = ninja
	makedepends = jack
	makedepends = wayland-protocols
	makedepends = alsa-lib
	makedepends = mesa
	makedepends = libpulse
	makedepends = libxrandr
	makedepends = libxinerama
	makedepends = wayland
	makedepends = libxkbcommon
	makedepends = ibus
	makedepends = libxss
	makedepends = pipewire
	makedepends = libdecor
	makedepends = vulkan-headers
	makedepends = sndio
	depends = glibc
	depends = libxext
	depends = libxrender
	depends = libx11
	depends = libgl
	depends = libxcursor
	depends = hidapi
	depends = libusb
	optdepends = alsa-lib: ALSA audio driver
	optdepends = libpulse: PulseAudio audio driver
	optdepends = jack: JACK audio driver
	optdepends = pipewire: PipeWire audio driver
	optdepends = vulkan-driver: vulkan renderer
	optdepends = sndio: sndio audio driver
	optdepends = libdecor: Wayland client decorations
	source = https://github.com/libsdl-org/SDL/releases/download/release-3.4.16/SDL3-3.4.16.tar.gz
	source = https://github.com/libsdl-org/SDL/releases/download/release-3.4.16/SDL3-3.4.16.tar.gz.sig
	validpgpkeys = 0900104363B4C9D4223DE149D913FE7D4B61D39B
	sha512sums = 74a5ee1e5bba138a8daa710e200ac3585c60f696311c46252d86bc685c55e8271cd0d68439f8e13ca515b702d46ef58914d0f7b2352019870a5763ed79739e9a
	sha512sums = SKIP

pkgname = sdl3
