pkgbase = rygel
	pkgdesc = UPnP AV MediaServer and MediaRenderer
	pkgver = 45.2
	pkgrel = 1
	epoch = 1
	url = https://gitlab.gnome.org/GNOME/rygel
	arch = x86_64
	groups = gnome
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gssdp
	depends = gst-editing-services
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk4
	depends = gupnp
	depends = gupnp-av
	depends = gupnp-dlna
	depends = hicolor-icon-theme
	depends = libgee
	depends = libmediaart
	depends = libsoup3
	depends = libunistring
	depends = libx11
	depends = libxml2
	depends = sqlite
	depends = tinysparql
	optdepends = gst-libav: Extra media codecs
	optdepends = gst-plugins-bad: Extra media codecs
	optdepends = gst-plugins-base: Extra media codecs
	optdepends = gst-plugins-good: Extra media codecs
	optdepends = gst-plugins-ugly: Extra media codecs
	optdepends = localsearch: Share indexed media files
	optdepends = tumbler: Thumbnailing service
	provides = librygel-core-2.8.so
	provides = librygel-db-2.8.so
	provides = librygel-renderer-2.8.so
	provides = librygel-renderer-gst-2.8.so
	provides = librygel-ruih-2.8.so
	provides = librygel-server-2.8.so
	backup = etc/rygel.conf
	source = git+https://gitlab.gnome.org/GNOME/rygel.git?signed#tag=45.2
	validpgpkeys = AC9CD4E32D7C7F6357BA8ADD10F6E970175D29E1
	b2sums = f013601c52478d53133b96ad733d42e9fbe7265cb32bc9ef2bd7c02b03a86af4e211c429a2bd05b305bbc13bca5a03466b3812c3c04980902ffd769f7c22a3cf

pkgname = rygel
