pkgbase = loupe
	pkgdesc = A simple image viewer for GNOME
	pkgver = 50.0
	pkgrel = 1
	url = https://apps.gnome.org/Loupe/
	arch = x86_64
	groups = gnome
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = itstool
	makedepends = meson
	makedepends = rust
	depends = bubblewrap
	depends = cairo
	depends = dconf
	depends = fontconfig
	depends = glib2
	depends = glibc
	depends = glycin
	depends = graphene
	depends = gtk4
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libadwaita
	depends = libgcc
	depends = libgweather-4
	depends = libseccomp
	source = git+https://gitlab.gnome.org/GNOME/loupe.git?signed#tag=50.0
	validpgpkeys = 4587A0EE1EE5478AAB82C0A93BA28A5559F08EBD
	b2sums = fb8a6a175409be8a255f0053d822318c657b1d431e38d30303c9094c906505d952fecb5bc3a85e344850d49684814397eb38bd477f58ac3abb0681273da82b9a

pkgname = loupe
