pkgbase = libdeflate
	pkgdesc = Heavily optimized library for DEFLATE/zlib/gzip compression and decompression
	pkgver = 1.26
	pkgrel = 1
	url = https://github.com/ebiggers/libdeflate
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = glibc
	provides = libdeflate.so
	source = git+https://github.com/ebiggers/libdeflate.git#tag=v1.26
	b2sums = 00204ed5c71f5601e2dfa33dd38b32abcd66d9f9257c8a0d3a1c678529c5a94f2cb31a623001a6ffd950a508bd583ad9dabaefb03de112c97c362a32f7264df8

pkgname = libdeflate
