pkgbase = upower
	pkgdesc = Abstraction for enumerating power devices, listening to device events and querying history and statistics
	pkgver = 1.91.4
	pkgrel = 1
	url = https://upower.freedesktop.org
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = python-dbus
	checkdepends = python-dbusmock
	checkdepends = python-gobject
	checkdepends = python-packaging
	checkdepends = umockdev
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python
	makedepends = systemd
	makedepends = usbmuxd
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libgudev
	depends = libimobiledevice
	depends = libplist
	depends = polkit
	optdepends = usbmuxd: Read charge status of iOS devices
	backup = etc/UPower/UPower.conf
	source = git+https://gitlab.freedesktop.org/upower/upower.git#tag=v1.91.4
	b2sums = ed239ed6d754e20e57f1f8fcab8d02126b505816c48c6e2ee2c9c004fa54fb275c0f24380e1b8df3547a5f6280e03a8b1432f8d40a822cc4eb82ab8a9f549309

pkgname = upower
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libgudev
	depends = libimobiledevice
	depends = libplist
	depends = polkit
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	provides = libupower-glib.so
