pkgbase = spirv-tools
	pkgdesc = API and commands for processing SPIR-V modules
	pkgver = 1.4.357.0
	pkgrel = 1
	epoch = 1
	url = https://www.khronos.org/spirv/
	arch = x86_64
	groups = vulkan-devel
	license = Apache-2.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = spirv-headers
	depends = libstdc++
	depends = glibc
	depends = sh
	source = git+https://github.com/KhronosGroup/SPIRV-Tools#tag=vulkan-sdk-1.4.357.0
	b2sums = 551c6621a4598c1134d25f50b49df013a393dd4d6d142ccebd4a496495994afbdd98a8b637a9bdca0acee3a933c73049a2cdd8b37371f7567c9d22cf4724d06c

pkgname = spirv-tools
