pkgbase = gnome-bluetooth-3.0
	pkgdesc = GNOME Bluetooth Subsystem
	pkgver = 47.2
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GnomeBluetooth
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = python-dbusmock
	checkdepends = python-gobject
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python
	makedepends = systemd
	depends = bluez
	depends = bluez-obex
	depends = glib2
	depends = glibc
	depends = gsound
	depends = gtk4
	depends = libgcc
	depends = libadwaita
	depends = libnotify
	depends = systemd-libs
	depends = upower
	provides = libgnome-bluetooth-3.0.so
	provides = libgnome-bluetooth-ui-3.0.so
	source = git+https://gitlab.gnome.org/GNOME/gnome-bluetooth.git#tag=47.2
	b2sums = ad51b87fb480fed650b0481a29373bb8d3810c25b0808f8f807878d7229d5c5729b9a3608539ff4de48d7b1a7b030f2ec98443b8e2410b2af1b3f8537135cdc1

pkgname = gnome-bluetooth-3.0
