pkgbase = libcupsfilters
	pkgdesc = OpenPrinting CUPS Filters - contains all the code of the filters of the former cups-filters package as library functions
	pkgver = 2.2.1.r23.gdee3b387
	pkgrel = 1
	url = https://github.com/OpenPrinting/libcupsfilters
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	checkdepends = ttf-dejavu
	makedepends = ghostscript
	makedepends = git
	depends = libcups
	depends = libexif
	depends = pdfio
	depends = libjxl
	depends = poppler
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = lcms2
	depends = fontconfig
	depends = glibc
	depends = dbus
	source = git+https://github.com/OpenPrinting/libcupsfilters#commit=dee3b387c34707ecc9b9d40bb7cafd7f475612b0
	sha256sums = 08b6896af0c9aabab6ad4b6d1ae768ff9aa1c1aac37aa1696f2af1f8df867bd1

pkgname = libcupsfilters
