pkgbase = adwaita-fonts
	pkgdesc = The typefaces for GNOME
	pkgver = 51.0
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/adwaita-fonts
	arch = any
	license = OFL-1.1
	makedepends = git
	makedepends = meson
	source = git+https://gitlab.gnome.org/GNOME/adwaita-fonts.git#tag=51.0
	b2sums = d113e7f5c91d4c86010959a155690099d44ee9defbab6ca0f9909b6faa40405460bff7ebcad8e8512c91162eba72b5af72b184a2fc1cca94a9e7c9e87616f26d

pkgname = adwaita-fonts
