pkgbase = unicode-cldr
	pkgdesc = Unicode Common Locale Data Repository
	pkgver = 48.2
	pkgrel = 1
	url = http://cldr.unicode.org/
	arch = any
	license = Unicode-3.0
	source = https://unicode.org/Public/cldr/48.2/cldr-common-48.2.zip
	sha512sums = de8660f5371e0fcfd03a42e3b4fc4c686ec6cd602b402f1e3d227844005a54eb7952873894443523837d5828c42874a1a267a19f91ded207a2d166144791fa62

pkgname = unicode-cldr
	depends = unicode-cldr-annotations

pkgname = unicode-cldr-annotations
	pkgdesc = Unicode Common Locale Data Repository (annotations only)
