pkgbase = webrtc-audio-processing-1
	pkgdesc = AudioProcessing library based on Google's implementation of WebRTC (legacy)
	pkgver = 1.3
	pkgrel = 5
	url = https://freedesktop.org/software/pulseaudio/webrtc-audio-processing/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = meson
	depends = abseil-cpp
	depends = glibc
	depends = libgcc
	depends = libstdc++
	provides = libwebrtc-audio-coding-1.so
	provides = libwebrtc-audio-processing-1.so
	source = git+https://gitlab.freedesktop.org/pulseaudio/webrtc-audio-processing.git?signed#tag=v1.3
	source = 0001-Fix-compilation-with-GCC-15.patch
	validpgpkeys = 52DFA7B8BAC74687C8A88EF48165E3D1987E2132
	b2sums = ce5cb5c44474add0beb769b41ca64588dd4b2e164934161360ab71bf5fc520d6aa9cc10b070652a438fc80b00cd7245d7676ed07badb711cba8aa943b2fabbe2
	b2sums = 1962d02b733e3e62acebf3c794c85443c8aa667f84dbee2d25e76bc64f41cff3d49427c230e90ea1f2e3761167e7a03444cb7dc07e820c75f517f3c864fdcd3e

pkgname = webrtc-audio-processing-1
