pkgbase = vmaf
	pkgdesc = Perceptual video quality assessment algorithm based on multi-method fusion
	pkgver = 3.2.1
	pkgrel = 1
	url = https://github.com/Netflix/vmaf/
	arch = x86_64
	license = BSD-2-Clause-Patent
	checkdepends = vim
	makedepends = meson
	makedepends = nasm
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = https://github.com/Netflix/vmaf/archive/v3.2.1/vmaf-3.2.1.tar.gz
	sha256sums = 5df7386911bc15fd1ca783132528748d219768ae4fc5f8e0b61184f041648092

pkgname = vmaf
