pkgbase = gexiv2
	pkgdesc = GObject-based wrapper around the Exiv2 library
	pkgver = 0.16.2
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/gexiv2
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-gobject
	makedepends = vala
	depends = exiv2
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = git+https://gitlab.gnome.org/GNOME/gexiv2.git?signed#tag=0.16.2
	validpgpkeys = AC9CD4E32D7C7F6357BA8ADD10F6E970175D29E1
	b2sums = f61d643f25a42218c3711d9f39173ade201c2ddb7777e5b8450e5b171247a84cc2b10db2747c1dc348d8baef363f9aae4e222157e516f303de5d95c9aa79db40

pkgname = gexiv2
	depends = exiv2
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = gexiv2-common>=0.16.2-2
	depends = libexiv2.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	provides = libgexiv2-0.16.so

pkgname = gexiv2-common
	pkgdesc = GObject-based wrapper around the Exiv2 library (common files)
	depends = 

pkgname = gexiv2-docs
	pkgdesc = GObject-based wrapper around the Exiv2 library (documentation)
	depends = 
