pkgbase = fuse3
	pkgdesc = Interface for userspace programs to export a filesystem to the Linux kernel
	pkgver = 3.18.3
	pkgrel = 1
	url = https://github.com/libfuse/libfuse
	arch = x86_64
	makedepends = glibc
	makedepends = libiconv
	makedepends = liburing
	makedepends = meson
	makedepends = numactl
	makedepends = systemd
	options = !emptydirs
	source = https://github.com/libfuse/libfuse/archive/refs/tags/fuse-3.18.3.tar.gz
	sha512sums = 48b4d1c68d9e82377d2e854cfc3be1b437fe72acd09a4970b5692ac1d5808162db77524f495924d2e369243446aa496bdc9d2a87246fa677c15bf115434e6540
	b2sums = 9247827434834a9f7f7d70f65989fad22ba2b6cd1c75e00f43727f12a2146411885c2c8643e26a36311da02fa3af8534fd8a46dcabcb0b9960142d56ce013be5

pkgname = fuse-common
	pkgdesc = Common files for fuse2/3 packages
	license = GPL-2.0-only
	backup = etc/fuse.conf

pkgname = fuse3
	license = GPL-2.0-only
	license = LGPL-2.1-only
	depends = fuse-common
	depends = glibc
	depends = liburing
	depends = liburing.so
	depends = numactl
	depends = libnuma.so
