pkgbase = imlib2
	pkgdesc = Library that does image file loading and saving as well as rendering, manipulation, arbitrary polygon support
	pkgver = 1.12.7
	pkgrel = 3
	url = https://sourceforge.net/projects/enlightenment/
	arch = x86_64
	license = BSD
	makedepends = highway
	makedepends = git
	makedepends = libheif
	makedepends = libid3tag
	makedepends = libjxl
	makedepends = librsvg
	makedepends = libspectre
	makedepends = libwebp
	makedepends = openjpeg2
	depends = bzip2
	depends = freetype2
	depends = giflib
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libxext
	depends = xz
	optdepends = libheif: HEIF loader (for AVIF)
	optdepends = libid3tag: ID3 loader
	optdepends = libjxl: JXL loader
	optdepends = librsvg: SVG loader
	optdepends = libspectre: PS loader
	optdepends = libwebp: WEBP loader
	optdepends = openjpeg2: J2K loader
	provides = libImlib2.so
	source = imlib2::git+https://git.enlightenment.org/old/legacy-imlib2.git#tag=v1.12.7
	sha512sums = 47a77967bdd96b779794c4b35947984dfa0890e646e20a2c6498e73f40a95025de09513ef730fe5ff92a4c0556ab36e54e6c8e588f2a6844e0a6e3ffc228f01e

pkgname = imlib2
