pkgbase = vid.stab
	pkgdesc = Video stabilization library
	pkgver = 1.1.2
	pkgrel = 1
	url = http://public.hronopik.de/vid.stab
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = glibc
	depends = libgcc
	depends = libgomp
	provides = libvidstab.so
	source = git+https://github.com/georgmartius/vid.stab.git#tag=v1.1.2
	b2sums = 61e32f89adb31d25180f061b61364f00cb9afc602f584037d1c4357a21e5707e92b901a96fb1201d03c326ae478be3dbdac69a181d14d0664f1c5a1534c85a60

pkgname = vid.stab
