pkgbase = tar
	pkgdesc = Utility used to store, backup, and transport files
	pkgver = 1.35
	pkgrel = 5
	url = https://www.gnu.org/software/tar/
	install = tar.install
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = attr
	makedepends = git
	options = !emptydirs
	source = git+https://git.savannah.gnu.org/git/tar.git#tag=v1.35?signed
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	source = git+https://git.savannah.gnu.org/git/paxutils.git
	source = https://ftp.gnu.org/gnu/tar/tar-1.35.tar.gz
	source = https://ftp.gnu.org/gnu/tar/tar-1.35.tar.gz.sig
	source = fix-libacl-conflicts.patch
	validpgpkeys = 325F650C4C2B6AD58807327A3602B07F55D0C732
	sha256sums = 8476308a482ba89b7ba806dc2f77aea268e88828b3f4527d85484c813e025332
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 14d55e32063ea9526e057fbf35fcabd53378e769787eff7919c3755b02d2b57e
	sha256sums = SKIP
	sha256sums = 07c20fc924001f15e93e779588de8113a2ce683ce5b18431e797f7c242eaa33a

pkgname = tar
	depends = glibc
	depends = acl

pkgname = tar-scripts
	pkgdesc = Utility used to store, backup, and transport files (scripts)
	depends = sh
	depends = tar
