pkgbase = gnome-weather
	pkgdesc = Access current weather conditions and forecasts
	pkgver = 50.0
	pkgrel = 1
	url = https://apps.gnome.org/Weather
	arch = any
	groups = gnome
	license = GPL-2.0-or-later
	makedepends = appstream
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = typescript
	depends = dconf
	depends = geoclue
	depends = gjs
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgweather-4
	source = git+https://gitlab.gnome.org/GNOME/gnome-weather.git#tag=50.0
	source = git+https://gitlab.gnome.org/BrainBlasted/gi-typescript-definitions.git
	source = 0001-Allow-to-configure-automatic-location-setting.patch
	source = 0002-Various-fixes-for-the-search-provider.patch
	source = 0003-Raise-existing-window-instead-of-opening-new-one-on-.patch
	b2sums = 786c02a6afcd74ccf1e4220a4c0c54786e4aed7ea50a502d520199fad15173490100deee148b0da8fedb205e9950abff5446376ed2d7e68bb5541e923756e756
	b2sums = SKIP
	b2sums = 14ead85f7b34e71c7cb057f2892644661200325037e1e21cc202c1d962c1e4ba592469f4631a63d7e5db27d3bf7bd5761d62fbfc4618486c7f2ba33218d98961
	b2sums = 7781cedc70dc1badfe3b12143f4483b86fef41271e7a8625bf6008c35815c02c70ceef74ee6f8277abaf70492b9713f8450fd34e629e8fe265d3af266e6f77d7
	b2sums = 1c607b5c65fb8dc935054a93986b37cd299a1e1c877a816404c43a7b4410f809ebc2bc276e38525e0e42fc7aadcc3aa0229da9ef5f0b97c66f379741d5f0d804

pkgname = gnome-weather
