pkgbase = tpm2-tss
	pkgdesc = Implementation of the TCG Trusted Platform Module 2.0 Software Stack (TSS2)
	pkgver = 4.2.0
	pkgrel = 2
	url = https://github.com/tpm2-software/tpm2-tss
	arch = x86_64
	license = BSD-2-Clause
	checkdepends = iproute2
	checkdepends = swtpm
	checkdepends = uthash
	makedepends = git
	makedepends = autoconf-archive
	makedepends = cmocka
	makedepends = doxygen
	makedepends = libtpms
	makedepends = systemd
	depends = curl
	depends = glibc
	depends = json-c
	depends = openssl
	depends = util-linux-libs
	provides = libtss2-esys.so
	provides = libtss2-fapi.so
	provides = libtss2-mu.so
	provides = libtss2-rc.so
	provides = libtss2-sys.so
	provides = libtss2-tcti-null.so
	provides = libtss2-tctildr.so
	options = !emptydirs
	options = !lto
	backup = etc/tpm2-tss/fapi-config.json
	backup = etc/tpm2-tss/fapi-profiles/P_ECCP256SHA256-high-range.json
	backup = etc/tpm2-tss/fapi-profiles/P_ECCP256SHA256-legacy.json
	backup = etc/tpm2-tss/fapi-profiles/P_ECCP256SHA256-low-range.json
	backup = etc/tpm2-tss/fapi-profiles/P_ECCP256SHA256.json
	backup = etc/tpm2-tss/fapi-profiles/P_ECCP384SHA384.json
	backup = etc/tpm2-tss/fapi-profiles/P_RSA2048SHA256-high-range.json
	backup = etc/tpm2-tss/fapi-profiles/P_RSA2048SHA256-legacy.json
	backup = etc/tpm2-tss/fapi-profiles/P_RSA2048SHA256-low-range.json
	backup = etc/tpm2-tss/fapi-profiles/P_RSA2048SHA256.json
	backup = etc/tpm2-tss/fapi-profiles/P_RSA3072SHA384.json
	source = git+https://github.com/tpm2-software/tpm2-tss?signed#tag=4.2.0
	source = 0001-dist-Fully-lock-the-tss-system-user.patch
	source = tpm2-tss.tmpfiles
	validpgpkeys = D533275B0123D0A679F51FF48F4F9A45D7FFEE74
	validpgpkeys = D6B4D8BAC7E0CC97DCD4AC7272E88B53F7A95D84
	validpgpkeys = 5B482B8E3E19DA7C978E1D016DE2E9078E1F50C1
	b2sums = b7b6ae373034b6dd8751c83e7f68585928de8e9ff96f317bafc5c0f6e6f008bf62b3be9e3fd2afa116366955605414e2d6e62c2ffb35bcc3fa812bad30ff3515
	b2sums = 62553b08cae6c90b3ce2244b2440e51228ce31104fd22f84f1e784b170e184745933994a678057afc1834fa48c4bab00b07299d7ff060469e6a7f0458a5a5efa
	b2sums = 5615dc60cbed1a2b4b8c6fbb103aa33a81a73bb910c2afca8eaf84ed96fac4a78ae6767b97f93548326cb0366d5475605f547f28c21a06b739c33264c3cf2492

pkgname = tpm2-tss
	depends = curl
	depends = glibc
	depends = json-c
	depends = openssl
	depends = util-linux-libs
	depends = libjson-c.so
