pkgbase = fluidsynth
	pkgdesc = A real-time software synthesizer based on the SoundFont 2 specifications
	pkgver = 2.6.1
	pkgrel = 1
	url = https://www.fluidsynth.org/
	arch = x86_64
	groups = pro-audio
	license = LGPL-2.1-or-later
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = dbus
	makedepends = doxygen
	makedepends = jack
	makedepends = ladspa
	makedepends = libpipewire
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = portaudio
	makedepends = readline
	makedepends = systemd-libs
	depends = glibc
	depends = libgcc
	depends = libgomp
	depends = libstdc++
	depends = sdl3
	provides = libfluidsynth.so
	provides = soundfont-synthesizer
	backup = etc/conf.d/fluidsynth
	source = fluidsynth-2.6.1.tar.gz::https://github.com/fluidsynth/fluidsynth/archive/v2.6.1.tar.gz
	sha512sums = 5c46421ba17559cb826fb2e6b8002b3459c910ff2ebd6d75c55f3139bea58487ddb4ac8da71c6bb72bc5af9590e11752b3d88a8e41170b8e41f228e9a08257cd
	b2sums = 257a2ffe9dd11abec672df20d006f9d9e8b18b0ba6a969f13b8caab7f1f083e66fbf3ef363d5532f638a64d141d28dddef56288906290d8fe4df2d31a16e334a

pkgname = fluidsynth
	depends = glibc
	depends = libgcc
	depends = libgomp
	depends = libstdc++
	depends = sdl3
	depends = alsa-lib
	depends = libasound.so
	depends = dbus
	depends = libdbus-1.so
	depends = jack
	depends = libjack.so
	depends = libpipewire
	depends = libpipewire-0.3.so
	depends = libpulse
	depends = libpulse-simple.so
	depends = libsndfile
	depends = libsndfile.so
	depends = portaudio
	depends = libportaudio.so
	depends = readline
	depends = libreadline.so
	depends = systemd-libs
	depends = libsystemd.so
