pkgbase = semver
	pkgdesc = The semantic version parser used by npm
	pkgver = 7.8.5
	pkgrel = 1
	url = https://github.com/npm/node-semver
	arch = any
	license = ISC
	makedepends = git
	makedepends = jq
	makedepends = npm
	depends = nodejs
	source = git+https://github.com/npm/node-semver.git#tag=v7.8.5
	b2sums = d0b7603b69ef8a7928d89a18bdf4a511e61d3370a0fb84aa945df75066ff55d94e5837e0c86b57c166b1b57264529a3861c9261946b1a6ba4239dc8c15b69d5f

pkgname = semver
