pkgbase = python-platformdirs
	pkgdesc = A library to determine platform-specific system directories
	pkgver = 4.11.11
	pkgrel = 1
	url = https://github.com/tox-dev/platformdirs
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-appdirs
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	source = python-platformdirs::git+https://github.com/tox-dev/platformdirs#tag=4.11.11
	sha512sums = 7c8494f2f5639e5731d117175327235da553f197c1b271c4115d62d6ab62a388efd92456f3fc19ada11eaf934d79bd6ce0804eb13b0b753102413ada4b2fc932
	b2sums = a027591bac6bb94d88c705afd43dee3de8d41c3d35f5c0e68a5185a36ee38c45cd198e5560c0a0c9464a1cf69df3f385679067d0c9234df6040cbf70c68cb652

pkgname = python-platformdirs
