pkgbase = graphviz
	pkgdesc = Graph visualization software
	pkgver = 16.1.0
	pkgrel = 1
	url = https://www.graphviz.org/
	install = graphviz.install
	arch = x86_64
	license = EPL
	makedepends = swig
	makedepends = mono
	makedepends = guile
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = r
	makedepends = tk
	makedepends = qt6-base
	depends = libltdl
	depends = gd
	depends = librsvg
	depends = ghostscript
	depends = pango
	depends = gts
	depends = gsfonts
	optdepends = mono: sharp bindings
	optdepends = guile: guile bindings
	optdepends = lua: lua bindings
	optdepends = perl: perl bindings
	optdepends = python: python bindings
	optdepends = r: r bindings
	optdepends = tcl: tcl bindings
	optdepends = qt6-base: gvedit
	optdepends = xterm: vimdot
	source = https://gitlab.com/graphviz/graphviz/-/archive/16.1.0/graphviz-16.1.0.tar.gz
	sha256sums = 1e028b2b3e84e946c1d3e8c47590f8f0741bba1041fe6eff36eee87e598ea249
	b2sums = dabed4c1dd0b87f17da65035e411671a85a40f8ba8fcfd7ace53236d616779c76eadb4bf2531b27d450be09eab92bd725045735a833670b56392fdd62986427a

pkgname = graphviz
