pkgbase = libksba
	pkgdesc = Library for working with X.509 certificates, CMS data and related objects
	pkgver = 1.8.1
	pkgrel = 1
	url = https://www.gnupg.org/related_software/libksba/
	arch = x86_64
	license = GPL-2.0-only
	license = GPL-3.0-only
	license = LGPL-3.0-only
	depends = bash
	depends = libgpg-error
	depends = glibc
	source = https://www.gnupg.org/ftp/gcrypt/libksba/libksba-1.8.1.tar.bz2
	source = https://www.gnupg.org/ftp/gcrypt/libksba/libksba-1.8.1.tar.bz2.sig
	validpgpkeys = AC8E115BF73E2D8D47FA9908E98E9B2D19C6C8BD
	validpgpkeys = D8692123C4065DEA5E0F3AB5249B39D24F25E3B6
	validpgpkeys = 6DAA6E64A76D2840571B4902528897B826403ADA
	sha256sums = c2f84393011827219ae117131dba8e7684c2bed0961eed11b0642c2acba440b5
	sha256sums = SKIP

pkgname = libksba
