pkgbase = xz
	pkgdesc = Library and command line tools for XZ and LZMA compressed files
	pkgver = 5.8.4
	pkgrel = 1
	url = https://tukaani.org/xz/
	arch = x86_64
	license = GPL-2.0-or-later AND 0BSD AND LicenseRef-Public-Domain AND LGPL-2.1-or-later
	makedepends = git
	makedepends = po4a
	makedepends = doxygen
	depends = glibc
	depends = sh
	provides = liblzma.so
	source = git+https://github.com/tukaani-project/xz?signed#tag=v5.8.4
	validpgpkeys = 3690C240CE51B4670D30AD1C38EE757D69184620
	sha256sums = 7ddaf585a8049f4a0824da0772c9dc06c2825de2126cdcc4714b91fcc27368c8
	sha512sums = d669b66a7dcea627c88c077f3f3f23b42c1dd477bd240b5c26b6f473b0f2ea1b9db3c0a7b153cece3172e657e7d734a5f51c84b4174c98ba567d0b36535b28d6

pkgname = xz
