pkgbase = libmatio
	pkgdesc = C library with a fortran 90/95 module interface for reading/writing MATLAB MAT-files
	pkgver = 1.5.30
	pkgrel = 1
	url = https://sourceforge.net/projects/matio
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	depends = glibc
	depends = hdf5
	depends = zlib
	source = git+https://github.com/tbeu/matio#tag=v1.5.30
	sha256sums = 766fe43cf58b96171c8d8c115a73feeefe6c919f187a252f8d109a43b3ce5c4c

pkgname = libmatio
