pkgbase = b3sum
	pkgdesc = Command line implementation of the BLAKE3 hash function
	pkgver = 1.8.7
	pkgrel = 1
	url = https://github.com/BLAKE3-team/BLAKE3
	arch = x86_64
	license = CC0-1.0 OR Apache-2.0 OR Apache-2.0 WITH LLVM-exception
	makedepends = cmake
	makedepends = git
	makedepends = onetbb
	makedepends = rust
	depends = glibc
	depends = libgcc
	source = git+https://github.com/BLAKE3-team/BLAKE3.git#tag=1.8.7
	b2sums = 603f2249c1687574a01e4650a1779610d1b21922159d859ff679589d5b99fdad49adb27769b9226c3bdeae7dfe9d86103db3da9f48e9879fd0f3698902aa8980

pkgname = b3sum

pkgname = libblake3
	pkgdesc = The official C implementation of BLAKE3
	depends = glibc
	depends = libgcc
	depends = onetbb
