pkgbase = gnome-software
	pkgdesc = Allows you to find and install new apps
	pkgver = 50.4
	pkgrel = 1
	url = https://apps.gnome.org/Software
	arch = x86_64
	groups = gnome
	license = GPL-2.0-or-later
	makedepends = docbook-xsl
	makedepends = flatpak
	makedepends = fwupd
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = itstool
	makedepends = libglib-testing
	makedepends = malcontent
	makedepends = meson
	depends = appstream
	depends = dconf
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnome-app-list
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libgcc
	depends = libgudev
	depends = libmalcontent
	depends = libsoup3
	depends = libsysprof-capture
	depends = libxmlb
	depends = pango
	depends = polkit
	depends = systemd
	optdepends = flatpak: Flatpak support plugin
	optdepends = fwupd: fwupd support plugin
	optdepends = malcontent: Parental control plugin
	source = git+https://gitlab.gnome.org/GNOME/gnome-software.git?signed#tag=50.4
	source = git+https://gitlab.gnome.org/mwleeds/gnome-pwa-list.git
	validpgpkeys = 2AA441054BD2F1715EC11610FB183E7EF3C36A0D
	validpgpkeys = 923B7025EE03C1C59F42684CF0942E894B2EAFA0
	b2sums = 22980d21768a73dc52dbe60d8603f6aac54ba92a6260ea496c471130440a2bf56fc1af0248238bedbfeb119b3e5a62640786c4ae8c36486ccf6ab47a04896103
	b2sums = SKIP

pkgname = gnome-software
