pkgbase = wildmidi
	pkgdesc = Simple software MIDI player which has a core softsynth library
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/Mindwerks/wildmidi
	arch = x86_64
	license = GPL-3.0-or-later AND LGPL-3.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = alsa-lib
	depends = glibc
	source = git+https://github.com/Mindwerks/wildmidi.git#tag=wildmidi-0.5.0
	b2sums = db172f73d1132696249ffa892ff844c55e245320f9ef6c3cce50a27ff4ec86e35d39c6f9962c8c9b9ff23b07ac9cf1012807f35f77a60267cd46ccb0ed580e47

pkgname = wildmidi
