pkgbase = gnome-characters
	pkgdesc = A character map application
	pkgver = 50.0
	pkgrel = 1
	url = https://apps.gnome.org/Characters/
	arch = x86_64
	groups = gnome
	license = BSD-3-Clause AND GPL-2.0-or-later
	checkdepends = weston
	makedepends = appstream
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = meson
	depends = dconf
	depends = emoji-font
	depends = gjs
	depends = glib2
	depends = glibc
	depends = gnome-desktop-4
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	source = git+https://gitlab.gnome.org/GNOME/gnome-characters.git#tag=50.0
	b2sums = a67e1e6d9530970434e1bb5e3834b0bb7f6109e5ba23d23531cefa05068bcaf929e7f60a23e7cebfb82d7357ae21e76aada83d20042d0b2efac1ed3a94237009

pkgname = gnome-characters
