pkgbase = cups-filters
	pkgdesc = OpenPrinting CUPS Filters
	pkgver = 2.0.1
	pkgrel = 3
	url = https://wiki.linuxfoundation.org/openprinting/cups-filters
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = ghostscript
	makedepends = mupdf-tools
	depends = libcups
	depends = libppd
	depends = libcupsfilters
	depends = glibc
	depends = sh
	optdepends = ghostscript: for non-PDF printers (preferred)
	optdepends = poppler: for non-PDF printers
	optdepends = mupdf-tools: for non-PDF printers
	source = https://github.com/OpenPrinting/cups-filters/releases/download/2.0.1/cups-filters-2.0.1.tar.xz
	source = 0001-Fix-build-failure-with-GCC-15-and-std-c23.patch
	sha256sums = 39e71de3ce06762b342749f1dc7cba6817738f7bf4d322c1bb9ab10b8569ab80
	sha256sums = 2f47e871e44c51c1d6ac5a4c09117eb99c52e787263a91b80af38900daf7c1a6

pkgname = cups-filters
