pkgbase = libgcrypt
	pkgdesc = General purpose cryptographic library based on the code from GnuPG
	pkgver = 1.12.4
	pkgrel = 1
	url = https://www.gnupg.org
	arch = x86_64
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	license = LGPL-2.1-or-later
	license = X11
	license = LicenseRef-scancode-public-domain
	license = LicenseRef-OCB1
	depends = libgpg-error
	depends = glibc
	options = !emptydirs
	source = https://gnupg.org/ftp/gcrypt/libgcrypt/libgcrypt-1.12.4.tar.bz2
	source = https://gnupg.org/ftp/gcrypt/libgcrypt/libgcrypt-1.12.4.tar.bz2.sig
	validpgpkeys = 6DAA6E64A76D2840571B4902528897B826403ADA
	sha256sums = d77f68f48879510e79a2f65977ccc68981781ea0923e5bdffac2a193ea3d660e
	sha256sums = SKIP

pkgname = libgcrypt
