pkgbase = gnome-user-share
	pkgdesc = Easy to use user-level file sharing for GNOME
	pkgver = 48.3
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-user-share
	arch = x86_64
	groups = gnome
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = meson
	makedepends = rust
	makedepends = systemd
	depends = apache
	depends = dconf
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = mod_dnssd
	source = git+https://gitlab.gnome.org/GNOME/gnome-user-share.git#tag=48.3
	source = 0001-build-Use-cargo-release-for-all-buildtypes-except-de.patch
	b2sums = c8d63b3cc43be52de43f35ee129ba287b6f041cca004f1fb4b45350301a81393fe7b2c65e7259c0a5674f50aeb09c138fbccc5fa3d81297a8640b11cfd55c717
	b2sums = 936f92722d7d189b36c47dad2f0c70c0771923b7c0e9c141006f94a26fe9f41bc7faed529ca2df869bfbad0f8379847bd2d96b2bcbaf2c2c4bd8681ef5aef9e6

pkgname = gnome-user-share
