pkgbase = vte3
	pkgdesc = Virtual Terminal Emulator widget
	pkgver = 0.84.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/vte
	arch = x86_64
	license = LGPL-3.0-or-later
	license = GPL-3.0-or-later
	makedepends = at-spi2-core
	makedepends = fast_float
	makedepends = fmt
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = graphene
	makedepends = gtk3
	makedepends = gtk4
	makedepends = meson
	makedepends = vala
	depends = cairo
	depends = fribidi
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = icu
	depends = libgcc
	depends = libstdc++
	depends = lz4
	depends = pango
	depends = pcre2
	depends = simdutf
	depends = systemd
	depends = systemd-libs
	options = !lto
	source = git+https://gitlab.gnome.org/GNOME/vte.git#tag=0.84.1
	b2sums = f8f03ea82a08697d28a8e7a76729c39cb2088335380eb21b0af54f04519fb293f257a334c8b41948707b50cebbb8bb9c792a2c745b38f3834c9351ae730610ce

pkgname = vte-common
	pkgdesc = Virtual Terminal Emulator widget (common files)
	depends = glibc

pkgname = vte3
	pkgdesc = Virtual Terminal Emulator widget (GTK3)
	license = LGPL-3.0-or-later
	depends = cairo
	depends = fribidi
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = icu
	depends = libgcc
	depends = libstdc++
	depends = lz4
	depends = pango
	depends = pcre2
	depends = simdutf
	depends = systemd
	depends = systemd-libs
	depends = at-spi2-core
	depends = gtk3
	depends = vte-common
	provides = libvte-2.91.so

pkgname = vte3-utils
	pkgdesc = VTE3 test utilities
	license = GPL-3.0-or-later
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libgcc
	depends = libstdc++
	depends = pango
	depends = vte3

pkgname = vte4
	pkgdesc = Virtual Terminal Emulator widget (GTK4)
	license = LGPL-3.0-or-later
	depends = cairo
	depends = fribidi
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = icu
	depends = libgcc
	depends = libstdc++
	depends = lz4
	depends = pango
	depends = pcre2
	depends = simdutf
	depends = systemd
	depends = systemd-libs
	depends = graphene
	depends = gtk4
	depends = vte-common
	provides = libvte-2.91-gtk4.so

pkgname = vte4-utils
	pkgdesc = VTE4 test utilities
	license = GPL-3.0-or-later
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = libgcc
	depends = libstdc++
	depends = pango
	depends = vte4

pkgname = vte-docs
	pkgdesc = Virtual Terminal Emulator widget (documentation)
	depends = 
