pkgbase = gnome-settings-daemon
	pkgdesc = GNOME Settings Daemon
	pkgver = 50.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-settings-daemon
	arch = x86_64
	groups = gnome
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	checkdepends = python-dbusmock
	checkdepends = python-gobject
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = libxslt
	makedepends = meson
	makedepends = python
	makedepends = usbguard
	depends = alsa-lib
	depends = bash
	depends = dconf
	depends = fontconfig
	depends = gcr-4
	depends = geoclue
	depends = geocode-glib-2
	depends = glib2
	depends = glibc
	depends = gnome-desktop-4
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libcanberra-pulse
	depends = libcolord
	depends = libcups
	depends = libgcc
	depends = libgudev
	depends = libgweather-4
	depends = libmm-glib
	depends = libnm
	depends = libnotify
	depends = libp11-kit
	depends = libpulse
	depends = libx11
	depends = libxfixes
	depends = polkit
	depends = pulse-native-provider
	depends = systemd-libs
	depends = upower
	optdepends = usbguard: USB protection support
	backup = etc/xdg/Xwayland-session.d/00-xrdb
	source = git+https://gitlab.gnome.org/GNOME/gnome-settings-daemon.git#tag=50.1
	source = git+https://gitlab.gnome.org/GNOME/libgnome-volume-control.git
	b2sums = 0b410617b89c8b3956086cecdd66704c73d3e57c64888a5c510d6eb4c43efa112c578a0cf2eda1e9729e631ac7f6201dcd2cd3c97eddb15ec316ba6bba55887e
	b2sums = SKIP

pkgname = gnome-settings-daemon
