pkgbase = libarchive
	pkgdesc = Multi-format archive and compression library
	pkgver = 3.8.9
	pkgrel = 1
	url = https://libarchive.org/
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-4-Clause-UC
	license = Apache-2.0 OR CC0-1.0 OR OpenSSL
	makedepends = git
	depends = acl
	depends = bzip2
	depends = glibc
	depends = libxml2
	depends = lz4
	depends = openssl
	depends = xz
	depends = zlib
	depends = zstd
	provides = libarchive.so
	source = git+https://github.com/libarchive/libarchive.git?signed#tag=v3.8.9
	validpgpkeys = DB2C7CF1B4C265FAEF56E3FC5848A18B8F14184B
	validpgpkeys = 659C84C0E23EA1FA97E0B58CC040B508D63D2B36
	sha256sums = 033f8b22a755d01f87a79a5723ce4faed4d3772ab703f739c26ce32c6b1da0fd

pkgname = libarchive
	depends = acl
	depends = bzip2
	depends = glibc
	depends = libxml2
	depends = lz4
	depends = openssl
	depends = xz
	depends = zlib
	depends = zstd
	depends = libacl.so
	depends = libbz2.so
	depends = libxml2.so
	depends = libcrypto.so
	depends = liblzma.so
	depends = libz.so
	depends = libzstd.so
