pkgbase = snapshot
	pkgdesc = Take pictures and videos
	pkgver = 50.0
	pkgrel = 1
	url = https://apps.gnome.org/Snapshot
	arch = x86_64
	groups = gnome
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = meson
	makedepends = rust
	depends = dconf
	depends = fontconfig
	depends = glib2
	depends = glibc
	depends = glycin
	depends = glycin-gtk4
	depends = graphene
	depends = gst-plugin-gtk4
	depends = gst-plugin-pipewire
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gst-plugins-good
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libadwaita
	depends = libgcc
	depends = libseccomp
	depends = pango
	source = git+https://gitlab.gnome.org/GNOME/snapshot.git#tag=50.0
	validpgpkeys = 3475CBA8D3483594C889B470D64A8D747F6FE706
	validpgpkeys = D25626D42D675B9C5EAF57DF7F3B4AADE28427AE
	b2sums = ba6c84081b008feeea2544aed299413bffbf95778f35abee2c588803b242f26dd98e65ea70d43b46c70ab92605447738195656f40c55cd9c3adc9e211f7be112

pkgname = snapshot
