pkgbase = cryptsetup
	pkgdesc = Userspace setup tool for transparent encryption of block devices using dm-crypt
	pkgver = 2.8.8
	pkgrel = 1
	url = https://gitlab.com/cryptsetup/cryptsetup/
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = jq
	checkdepends = procps-ng
	checkdepends = xxd
	makedepends = util-linux
	makedepends = asciidoctor
	depends = device-mapper
	depends = libdevmapper.so
	depends = glibc
	depends = openssl
	depends = libcrypto.so
	depends = popt
	depends = util-linux-libs
	depends = libblkid.so
	depends = libuuid.so
	depends = json-c
	depends = libjson-c.so
	provides = libcryptsetup.so
	conflicts = mkinitcpio<38-1
	options = !emptydirs
	source = https://www.kernel.org/pub/linux/utils/cryptsetup/v2.8/cryptsetup-2.8.8.tar.xz
	source = https://www.kernel.org/pub/linux/utils/cryptsetup/v2.8/cryptsetup-2.8.8.tar.sign
	validpgpkeys = 2A2918243FDE46648D0686F9D9B0577BD93E98FC
	sha256sums = 3acfa685f2dd7fcc832e0b77bc7093aa7da554a51ce8dafbb4138eaa854eee35
	sha256sums = SKIP

pkgname = cryptsetup
