pkgbase = sbsigntools
	pkgdesc = Tools to add signatures to EFI binaries and Drivers
	pkgver = 0.9.5
	pkgrel = 4
	url = https://git.kernel.org/pub/scm/linux/kernel/git/jejb/sbsigntools.git/about
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = gnu-efi
	makedepends = help2man
	makedepends = util-linux
	makedepends = sed
	depends = glibc
	depends = openssl
	source = git+https://git.kernel.org/pub/scm/linux/kernel/git/jejb/sbsigntools.git#tag=8445b18f64e60137408a4867fbcbb9ba112c583a?signed
	source = git+https://github.com/rustyrussell/ccan
	validpgpkeys = D5606E73C8B46271BEAD9ADF814AE47C214854D6
	sha256sums = 18d476d5497cab8f7f8acb8710481bdd3de887f6109f2deeed9e6bd2571d3f9d
	sha256sums = SKIP

pkgname = sbsigntools
	depends = glibc
	depends = openssl
	depends = util-linux-libs
	depends = libuuid.so
