pkgbase = gnome-console
	pkgdesc = A simple user-friendly terminal emulator for the GNOME desktop
	pkgver = 50.0
	pkgrel = 1
	url = https://apps.gnome.org/Console/
	arch = x86_64
	groups = gnome
	license = GPL-3.0-or-later
	checkdepends = dbus
	checkdepends = mutter
	checkdepends = vulkan-swrast
	makedepends = appstream
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = dconf
	depends = gtk4
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgcc
	depends = libgtop
	depends = pango
	depends = vte4
	source = gnome-console::git+https://gitlab.gnome.org/GNOME/console.git#tag=50.0
	b2sums = 8041082f14cbf6cb5a77934b5f109870b8c4aa02000b3cc86d27ff91af4fb284f8f1af048f14e9f973e8444e217528e9d9d0d05f87ce09db4e469df76dd53e57

pkgname = gnome-console
