pkgbase = freerdp
	pkgdesc = Free implementation of the Remote Desktop Protocol (RDP)
	pkgver = 3.31.1
	pkgrel = 1
	epoch = 2
	url = https://www.freerdp.com/
	arch = x86_64
	license = Apache-2.0
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = ffmpeg
	makedepends = git
	makedepends = icu
	makedepends = krb5
	makedepends = libcbor
	makedepends = libfido2
	makedepends = libjpeg-turbo
	makedepends = libp11
	makedepends = libpng
	makedepends = libpulse
	makedepends = libusb
	makedepends = libwebp
	makedepends = ninja
	makedepends = openssl
	makedepends = pam
	makedepends = pkcs11-helper
	makedepends = xorgproto
	makedepends = zlib
	depends = fuse3
	depends = glibc
	depends = jansson
	depends = libcups
	depends = libgcc
	depends = libstdc++
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxdamage
	depends = libxfixes
	depends = libxkbcommon
	depends = libxi
	depends = libxinerama
	depends = libxkbfile
	depends = libxrandr
	depends = libxrender
	depends = libxtst
	depends = sdl3
	depends = sdl3_ttf
	depends = wayland
	provides = libfreerdp-client3.so
	provides = libfreerdp-server-proxy3.so
	provides = libfreerdp-server3
	provides = libfreerdp-shadow-subsystem3.so
	provides = libfreerdp-shadow3.so
	provides = libfreerdp3.so
	provides = libwinpr-tools3.so
	provides = libwinpr3.so
	source = git+https://github.com/freerdp/freerdp#tag=3.31.1
	sha512sums = bbd7e16b37eb3672ce2faa64c1e2cf878efa44ec2bf4e6310d78303bd4eebe66773c6aa2276bedb0b066c52742e482472f7e6902d08e6ec5cf5a66e918202766
	b2sums = 4b4a05161608ac98c1779145a15235c72f362339e42d89a77b457a569e7d8ff99331bbbb247225eddd9383793d690c34dfbc23f13db23a484c341a1f64c76db3

pkgname = freerdp
	depends = fuse3
	depends = glibc
	depends = jansson
	depends = libcups
	depends = libgcc
	depends = libstdc++
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxdamage
	depends = libxfixes
	depends = libxkbcommon
	depends = libxi
	depends = libxinerama
	depends = libxkbfile
	depends = libxrandr
	depends = libxrender
	depends = libxtst
	depends = sdl3
	depends = sdl3_ttf
	depends = wayland
	depends = alsa-lib
	depends = libasound.so
	depends = ffmpeg
	depends = libavcodec.so
	depends = libavutil.so
	depends = libswresample.so
	depends = libswscale.so
	depends = icu
	depends = libicuuc.so
	depends = krb5
	depends = libk5crypto.so
	depends = libkrb5.so
	depends = libcbor
	depends = libcbor.so
	depends = libfido2
	depends = libfido2.so
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libpng
	depends = libpng16.so
	depends = libpulse
	depends = libpulse.so
	depends = libusb
	depends = libusb-1.0.so
	depends = libwebp
	depends = libwebp.so
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = pam
	depends = libpam.so
	depends = zlib
	depends = libz.so
